<!DOCTYPE html>
<html>
<head>

	<title>Quizz page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    


</head>
<body>

   

    <nav class="navbar navbar-light " style="background-color: #F4D03F;">

        <span class="navbar-brand mb-0 h1" style="color: white;">Quizz</span>
        <a class="nav-item nav-link " href="http://pedago.univ-avignon.fr:3042/profile" style="color: white;">Profile</a>
        <a class="nav-item nav-link " href="http://pedago.univ-avignon.fr:3042/home" style="color: white;">Home</a>


    </nav>

    
    <h3 style="font-weight: bold;font-family: Georgia, 'Times New Roman', Times, serif;margin-top: 60px;">Choisissez votre thème : </h3>
	<ul *ngFor="let theme of list">
		<input id="idtheme" type="radio" value="{{theme}}" [(ngModel)]="str" style="font-weight: bold;">{{theme}}
		
	</ul>
	<button type="submit" (click)="choixTheme()" class="btn btn-warning" style="margin-left: 50px;">Click To Launch The Quizz</button>
   






</body>