<!DOCTYPE html>
<html>
<head>

	<title>Quizz Question page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    


</head>
<body>

   

    <nav class="navbar navbar-light " style="background-color: #F4D03F;">
        <span class="navbar-brand mb-0 h1" style="color: white;">Quizz</span>
        <a class="nav-item nav-link" href="http://pedago.univ-avignon.fr:3042/profile" style="color: white;">Profile</a>
    </nav>
    
   	
    <ul *ngFor="let element of listQuestions" style="margin-left: 80px;margin-top: 50px;">
    <h3 style="font-family: Georgia, 'Times New Roman', Times, serif;font-weight: bold;">Votre Theme est : <span style="color: #F4D03F ;"> {{element["thème"]}}</span></h3>
	<h3 >Timer : <b>{{time}}</b> secondes</h3>
        <h3 style="color: #F4D03F;font-weight: bold;font-family: Georgia, 'Times New Roman', Times, serif;">Les questions de votre theme </h3>  
        <li *ngFor="let questionn of element.quizz">
            <span style="font-weight: bold;">{{questionn.question}}</span><br>
            <h5 style="color: #F4D03F;font-weight: bold;font-family: Georgia, 'Times New Roman', Times, serif;">Les Propositions : </h5>
            <span *ngFor="let proposition of questionn.propositions"> 
                <input id="idproposition" [name]="questionn.id" type="radio" value="{{proposition}}" (change)="choixPropositionListe(proposition)">{{proposition}}&nbsp;&nbsp;
            </span><br>
            
            
        </li>
    </ul>
    <button type="submit" (click)="choixProposition()" class="btn btn-warning" style="margin-left: 150px;margin-top: 10px;margin-bottom: 600px;">Click To Finish the Quizz</button>