<div *ngIf="messageIn">

  <div *ngIf="messageIn == 'Connexion echouee !'">
      <p class="alert alert-danger">{{messageIn}}</p>
    <input type='hidden' [(ngModel)]='messageOut' (change)='onMessageChange()'>
  </div>

  <div *ngIf="messageIn != 'Connexion echouee !' ">
      <p class="alert alert-success">{{messageIn}}</p>
    <input type='hidden' [(ngModel)]='messageOut' (change)='onMessageChange()'>
  </div>

</div>