<!DOCTYPE html>
<html>
<head>

	<title>Home page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    


</head>
<body>

   

    <nav class="navbar navbar-light " style="background-color: #F4D03F;"> 
        <span class="navbar-brand mb-0 h1">My Profile</span>
        <a class="nav-item nav-link " href="http://pedago.univ-avignon.fr:3042/home" style="color: white;">Home</a>
        <a class="nav-item nav-link " href="http://pedago.univ-avignon.fr:3042/theme" style="color: white;">Quizz</a>
    </nav>

<div style="margin-left: 0px;text-align: center;">
    <div style="font-weight: bold;font-family: Georgia, 'Times New Roman', Times, serif;margin-top: 60px;margin-left: 30px;">
        <h3>Votre Informations Perso : </h3>
        <ul *ngFor="let info of listInfo">
            <img src="{{info.avatar}}" alt="image" width="110" height="120" style="border-radius: 30px;margin-top: 20px;margin-bottom: 20px;" >
            <p><span style="color: #F4D03F;">Nom complet : </span>{{info.nom}} {{info.prenom}}</p>
            <p><span style="color: #F4D03F;">Status : </span>{{info.statut_connexion}} , Online</p>
            
            
        </ul>
    </div>

    <div style="font-weight: bold;font-family: Georgia, 'Times New Roman', Times, serif;margin-top: 60px;margin-left: 30px;">
        <h3>Votre Informations de Quizz : </h3>
        <ul *ngFor="let historique of listHistorique">
            <p><span style="color: #F4D03F;">Date de jeu de Quizz : </span>{{historique.date_jeu}}</p>
            <p><span style="color: #F4D03F;">Nombre des reponses correctes de Quizz : </span>{{historique.nb_reponses_corr}}</p>
            <p><span style="color: #F4D03F;">Le temps de Quizz : </span>{{historique.temps}} Secondes</p>
            <p><span style="color: #F4D03F;">Le score de Quizz : </span>{{historique.score}} Points</p>
            
        </ul>
    </div>
</div>


    
    





</body>