<!DOCTYPE html>
<html>
<head>
	<title>CERI Game</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>

    
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Accueil</span>
         
    </nav>
    

        <form name="form" #formConnex="ngForm" (ngSubmit)="login(formConnex)">
            <div class="form-group">

                <label for="username">Username</label>
                <input type="text" id="username" name="username" #username="ngModel" class="form-control"
                ngModel required minlength="1" placeholder ="Entrez votre username"/>
            </div>    
            
                <!-- Gestion des erreurs -->
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">

                <div *ngIf = "username.errors?.required">
                    Le nom ne peut pas être vide
                </div>
                <div *ngIf = "username.errors?.pattern && username.touched">
                    le format de nom ne semble pas correct
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password"#password="ngModel" class="form-control"
                ngModel required minlength="8" placeholder="Entrez votre mot de passe"/>

            </div>

                <button type="submit" class="btn btn-primary" [disabled] ="!formConnex.form.valid"> Login </button>
            

    </form>


</body>
</html>